[submodule "public"]
	path = public
	url = git@github.com:imlauera/imlauera.github.io.git
	branch = master
[submodule "themes/bare"]
	path = themes/bare
	url = git@github.com:imlauera/bare-hugo-theme.git
