{{ define "hero-body" }}
<div class="container">
  <article class="media">
    <!--
    <figure class="image is-64x64 media-left">
      <img alt="" class="is-rounded" src="{{ $.Site.Params.picture }}" width="32" height="32">
    </figure>
    -->
    <div class="media-content">
      <h1 class="title">
        {{ $.Site.Params.author }}
      </h1>
      <h2 class="subtitle">
        {{ $.Site.Params.description }} |
	bitcoin: <a class="link" href="https://www.blockchain.com/explorer/addresses/btc/bc1qkwy9z2x669nggu6cex4je29wky8ydc32a5g7l3">bc1qkwy9z2x669nggu6cex4je29wky8ydc32a5g7l3</a> | 
	<a class="link" href="https://imlauerandres.github.io">https://imlauerandres.github.io</a>   
      </h2>
    </div>
  </article>
</div>
{{ end }}

{{ define "main" }}
{{ partial "posts.html" . }}
{{ end }}
